@{
    ViewBag.Title = "Hakkımda";
}
<h2>@ViewBag.Title</h2>

<h3><strong>PROFİLİM:</strong></h3>
<p>
    Yazılım sektöründe 1 yıldır C#, Asp.Net, Html, Css, Bootstrap, Jquery, JavaScript
    alanlarında projeler geliştirdim ve tamamladım. Projelerimi web uygulamaları için temiz
    kodlama, OOP, SOLID ilkelerine bağlı olarak yaptım. Back-End tarafında C# MVC .NET ,
    Front-End tarafında Html Css Jquery, Veritabanı tarafında ise MsSql kullandım. Aynı
    zamanda projelerimi yönetim paneli, veritabanı bağlantıları, Javascript temel seviye kod
    bağlantıları, CRUD işlemlerini kullanarak geliştirdim.
    Sürekli gelişime ve öğrenip iyi seviyelere ulaşabilmek maksadıyla çalışmalara devam
    etmekteyim. Bireysel ve ekip çalışmasına yatkınım. Takım arkadaşlarına ve müşterilere karşı
    güçlü iletişim yeteneklerine ve problem çözme yeteneklerine sahibim.
</p>
<h3><strong>PROJELERİM:</strong></h3>
<p>
    GitHub’a https://github.com/Mustafacok/MaxRankThemeProject linkinde hazır
    template üzerine yazmış olduğum kodları ve geliştirmeleri yaptığım projeyi yükledim. Bu
    projede C#, .NET, Html, Css, Javascript teknolojilerini kullandım.Projeye
    Login,Logout,Kullanıcı ekleme-çıkarma-silme-güncelleme gibi CRUD işlemlerini içeren
    kodları düzenleyerek ekledim ve bunlara ek olarak Search,Notifications,Pagination, listeler
    için ordering ve filtre işlemleri gibi bütün projelerde olması gereken araçları projeye ekledim.
    Bunun gibi birçok proje geliştirip, bitirdim.
</p>
<h3><strong>EĞİTİMLERİM & NİTELİKLERİM:</strong></h3>
<h5>EĞİTİMLER</h5>
<ul>
    <li>
        2008-2012 Pursaklar İMKB ATL Bilişim Teknolojileri Alanı (Web Tasarım)
    </li>
    <li>2012-2014 Balıkesir Astsubay MYO Elektronik Haberleşme Teknolojileri</li>
    <li>2016-2021 Anadolu Üniversitesi İşletme Fakültesi</li>
</ul>
<h5>KURSLAR & SERTİFİKALAR</h5>
<ul>
    <li>Udemy C# .Net Kursu (2022)</li>
    <li>
        Vektörel Bilişim C#, .Net, Javascript, Sql Server, Visual Studio, Html5, Css3 Videolu
        Eğitim Seti (2022)
    </li>
    <li>Patika.Dev Html,Css,Bootstrap,JavaScript,SQL Videolu Eğitimleri (2022)</li>
    <li>Akın Dil Yds Kursu (2017) </li>
    <li>Sürücü Belgesi (B sınıfı)</li>
</ul>
<h5>NİTELİKLER</h5>
<ul>
    <li>C# </li>
    <li>.NET</li>
    <li>JQUERY</li>
    <li>T-SQL</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>AJAX POST</li>
    <li>LINQ</li>
    <li>JAVASCRİPT</li>
    <li>BOOTSTRAP</li>
    <li>SQL SERVER</li>
    <li>MSSQL</li>
    <li>POSTGRE SQL</li>
    <li>GİTHUB</li>
</ul>
<h3><strong>REFERANSLARIM:</strong></h3>
<ul>
    <li>Ahmet Fidan (0545 626 6231) - Sfs Danışmanlık</li>
    <li>Ömer Evren (0530 377 1357) - CatchProbe Technologies Corporation</li>
</ul>