@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>

<address>
    Belediye Street<br />
    Pursaklar, 06145<br />
    Ankara, TURKEY<br />
    <abbr title="Phone">Phone:</abbr>
    +90 531 649 4745
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:mustafacok06@hotmail.com">mustafacok06@hotmail.com</a><br />
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5878.221372743122!2d32.90724793396053!3d40.041987162993244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4082086d2c4e0951%3A0x932da5916b8dd192!2sPursaklar%20Belediyesi!5e0!3m2!1str!2str!4v1658509859009!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>